<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .custom-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }

    .navbar-brand {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
    }

    .nav-item {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        margin: 10px
    }

    input {
        width: 50%;
    }
</style>

<body>



    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">

            <a class="navbar-brand" href="#">Stufeed</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('Main')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('AdminLogin') }}">Login <span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="login-main">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="login-right col-lg-7 col-2">
                    <img height="560px"
                        src="https://static-2.gumroad.com/res/gumroad/1211634803146/asset_previews/33419f11cc751cbe8803753fd51039fb/retina/drawkit-list-app-colour-thumbnail.png"
                        alt="">
                </div>
                <div class="login-left col-lg-5 col-10 ">
                    <div class="login-header">
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="form-group custom-form">
                        <form action="" class="form-group custom-form" method="POST">
                            <div class="form-group">
                                <label for="username"></label>
                                <input type="text" class="form-control" name="username" id="username"
                                    aria-describedby="helpId" placeholder="Username" required>

                            </div>
                            <div class="form-group">
                                <label for="password"></label>
                                <input type="password" class="form-control" name="password" id="password"
                                    aria-describedby="helpId" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                            {% if error %}
                            <p class="error"><strong>Error:</strong> {{ error }}
                                {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>